[submodule "src/localization/FAST_LIO"]
	path = src/localization/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "src/localization/FASTLIO2_ROS2"]
	path = src/localization/FASTLIO2_ROS2
	url = https://github.com/shawnzsf/FASTLIO2_ROS2.git
[submodule "src/navigation/cmu/autonomous_exploration_development_environment"]
	path = src/navigation/cmu/autonomous_exploration_development_environment
	url = https://github.com/Tranxpotter/autonomous_exploration_development_environment.git
	branch = custom
[submodule "src/navigation/cmu/far_planner"]
	path = src/navigation/cmu/far_planner
	url = https://github.com/Tranxpotter/far_planner.git
	branch = custom
